<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="19540SavchenkoPetr.19074A52F71D3" Publisher="CN=04C0257C-B631-4A14-AB73-65F88B1D5A3D" Version="1.1.0.3" />
  <Properties>
    <DisplayName>Считай в уме</DisplayName>
    <PublisherDisplayName>Savchenko Petr</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="IntoTheBrain.App">
      <VisualElements DisplayName="Считать в уме" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Данное приложение содержит задачи из книги С.А. Рачинского «1001 задача для умственного счёта», в конце XIX века сельские школьники успешно решали эти задачи в уме. Ученые доказали, что люди, регулярно считающие в уме застрахованы от старческого маразма и раннего слабоумия. Так что практикуйтесь почаще." ForegroundText="dark" BackgroundColor="#d8d4bd">
        <DefaultTile ShowName="noLogos" WideLogo="Assets\LogoWide.jpg" ShortName="В уме" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#61605E" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
          <Rotation Preference="landscapeFlipped" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
</Package>